{% extends 'base.html' %}

   {% block page_content %}

    <!-- Starts Edit Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Edit photo</h2>

        <!-- Starts Edit Photo Form -->
        <form action="{% url 'photo_edit' photo.pk %}" method="post" enctype="multipart/form-data">
            <p>
                <label for="id_description">Description:</label>
                {{ form.description }}
            </p>

            <p>
                <label for="id_description">Location:</label>
                {{ form.location }}
            </p>

            <p>
                <label for="pets">Tag Pets:</label>
                {{ form.tagged_pets }}
            </p>
            {% csrf_token %}
            <!-- Edit Photo Button -->
            <button class="edit-btn" type="submit">Edit Photo</button>
        </form>
        <!-- End Edit Photo Form -->

    </div>
    <!-- End Edit Photo Section -->

    {% endblock %}